#flower {
  width: 1000px;
  height: 630px;
  border: 1px solid black;
}

#homePageHeading {
  font-family: sans-serif;
  color: rgb(250, 195, 12);
  text-align: right;
  margin-right: 280px;
}

hr.bottom {
  border: 0.5px solid black;
}

.page {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

#jar {
  animation: hideJar 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0 auto;
}

.link {
  justify-content: center;
  padding-left: 5%;
  margin-right: 500px;
}

.homePageDescription {
  margin: auto 0;
}

.pageHeading {
  font-family: sans-serif;
  color: rgb(250, 195, 12);
  text-align: center;
  justify-content: center;
}

.back {
  text-decoration-color: blueviolet;
}

#abeliophyllum {
  width: 500px;
  height: auto;
  margin: 5px;
}

#ageratum {
  width: 800px;
  height: auto;
  margin: 5px;
}

.text {
  padding-top: 100px;
  margin: auto 0;
}

.rightBorder {
  border-right: 0.5 solid gray;
}

.hide {
  visibility: hidden;
}