#flower {
  width: 800px;
  height: 550px;
}

#homePageHeading {
  text-align: right;
  margin-right: 280px;
}

.bottom {
  border: 0.5px solid black;
}

.page {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.link {
  justify-content: center;
  padding-left: 5%;
  margin-right: 500px;
}

#abeliophyllum {
  width: 450px;
}

.imgMarginAndBorder {
  margin: 5px;
  border: 1px solid black;
}

#ageratum {
  width: 800px;
}

.text {
  padding-top: 100px;
  margin: auto 0;
}

.hide {
  visibility: hidden;
}

.font {
  font-family: sans-serif;
  color: rgb(255, 195, 12);
}

.textAlign {
  text-align: center;
}

.margin {
  margin: 100px;
}

#submitButton {
  background-image: linear-gradient(gray, #eee);
}

#commentBox {
  padding: 5px;
  border: 0.5px solid gray;
  width: 800px;
  margin: 5px;
  background-color: rgb(227, 245, 245);
}
